/* ---------------------
#Reset 
----------------------*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------
#Title
----------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nexa-Heavy';
}

/* ---------------------
#Fonts
----------------------*/
@font-face {
    font-family: 'NexaBold';
    src: url('NexaBold.otf') format('truetype');
}

@font-face{
    font-family: 'Nexa-ExtraLight';
    src: url('Nexa-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Nexa-Heavy';
    src: url('Nexa-Heavy.ttf') format('truetype');
}

@font-face{
    font-family: 'NexaLight';
    src: url('NexaLight.otf') format('truetype');
}

/* ---------------------
#Body
----------------------*/
body{
    font-size: 16px;
    font-family: 'NexaLight';
}

/* ---------------------
#section
----------------------*/
.coming-soon{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to left, #12171db6 0%, #12171dd5 100%), url("../images/home.jpg") fixed no-repeat;
    background-size: cover;
    background-position: center;
}

.coming-container{
    padding-left: 100px;
    padding-right: 100px;
}

.hero{
    color: #fff;
}

.logo img{
    width: 300px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.coming-soon .title{
    display: flex;
    flex-direction: column;
    gap: 15px;
    -webkit-column-gap: 15px;
}

.coming-container .title h1{
    font-size: 55px;
    line-height: 70px;
    background: linear-gradient(to right, #438bb8, #F6C37C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.coming-soon .title p{
    width: 70%;
    line-height: 25px;
    font-weight: 600;
    font-size: 18px;
}

.countdown{
    display: flex;
    margin-top: 30px;
    color: #fff;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.countdown div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    -webkit-column-gap: 10px;
    border: 1px solid #f0eeee32;
    border-radius: 4px;
}

.countdown div p{
    font-size: 14px;
    font-weight: 600;
}

@media screen and (max-width: 450px){
    .container{
        padding: 15px 15px;
    }
    .countdown div{
        width: 80px;
    }
}

@media screen and (max-width: 570px){
    .coming-container .title h1{
        font-size: 45px;
    }
    .coming-soon .title p{
        font-size: 16px;
    }
}
.construction{
    color: #fff;
    font-size: 13px;
    bottom: 40px;
    left: 70px;
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 5px;
    -webkit-column-gap: 5px;
}

.construction span{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -webkit-animation: pulse 2s infinite;
    animation: pulse514 1.5s infinite;
}

@keyframes pulse514 {
    0% {
        box-shadow: 0 0 0 0 #F59C27;
    }
    70% {
        box-shadow: 0 0 0 7px #da674400;
    }
    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

/* Media query */
@media screen and (max-width: 1090px){
    .coming-soon .title p{
        width: 100%;
    }
}

@media screen and (max-width: 850px){
    .coming-container{
        padding-left: 35px;
        padding-right: 35px;
    }
    .logo{
        right: 40px;
    }

    .logo img{
        width: 200px;
    }
}
@media screen and (max-width: 450px){
    .coming-container{
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*---------------------------/
#Newsletter
/-------------------------- */
.newsletter {
    width: 100%;
    color: #000;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    -webkit-column-gap: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23bdbdbd' fill-opacity='0.08' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.newsletter-text{
    display: flex;
    flex-direction: column;
}

.newsletter div {
    display: flex;
    gap: 10px;
    justify-content: center;
    -webkit-column-gap: 10px;
}

.newsletter div form{
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.newsletter div input {
    outline: none;
    background-color: #fff;
    border-radius: 35px;
    padding: 15px 20px;
    font-size: 13px;
    font-family: 'Nexa-ExtraLight';
}

.newsletter div input[type=email]{
    width: 300px;
    border: 1px solid #0e161e32;
}

.newsletter div input[type=submit] {
    color: #fff;
    font-weight: 600;
    border: none;
    background-color: #448BB9;
    -webkit-animation: pulse 2s infinite;
    animation: pulse510 1.5s infinite;
}

@keyframes pulse510 {
    0% {
        box-shadow: 0 0 0 0 #448BB9;
    }
    70% {
        box-shadow: 0 0 0 7px #da674400;
    }
    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

/* Media query */
@media screen and (max-width: 1060px){
    .newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        -webkit-column-gap: 30px;
    }
}

@media screen and (max-width: 850px){
    .newsletter{
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media screen and (max-width: 445px){
    .newsletter div form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 450px){
    .newsletter{
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*---------------------------/
#Signature
/-------------------------- */
.compalight-sign {
    font-size: 13px;
    color: #a6a6a6;
    text-align: center;
    padding: 25px 15px;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #f5f5f5a8;
}

@media screen and (max-width: 850px){
    .compalight-sign{
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 450px){
    .compalight-sign{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.compalight-background{
    height: 100px;
    background-image: url("../images/compalight_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------/
#Popup
/-------------------------- */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 9999;
}

.hidden{
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000092;
    z-index: 9998;
}

.popup-container{
    width: 40%;
    z-index: 9999;
}

.exit-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #f0eeee32;
}

.content{
    text-align: center;
    background-color: #fff;
}

.popup-icon-success{
    font-size: 45px;
    color: #fff;
    padding: 50px 35px;
    display: flex;
    justify-content: center;
    background-color: #3d943de1;
}

.popup-icon-success i{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
    animation: pulse516 1.5s infinite;
}

@keyframes pulse516 {
    0% {
        box-shadow: 0 0 0 0 #e8eaeaa3;
    }
    70% {
        box-shadow: 0 0 0 14px #da674400;
    }
    100% {
        box-shadow: 0 0 0 0 #da674400;
    }
}

.popup-message{
    padding: 60px 35px;
    font-weight: 600;
}

/* Media query */
@media screen and (max-width: 1090px){
    .popup-container{
        width: 60%;
    }
}

@media screen and (max-width: 760px){
    .popup-container{
        width: 80%;
    }
}

@media screen and (max-width: 560px){
    .popup-container{
        width: 95%;
    }
}